/*RESET*/
* { border:0; margin:0; padding:0; vertical-align:baseline; text-decoration: none; background-repeat: no-repeat; list-style-type: none; outline: none; }

/*DEFAULT*/
body { font-family: 'Ubuntu Condensed', sans-serif;  }

/*HEADER*/
.header { text-align: center;   }
.header .inner { width: 700px; margin: 0 auto; }
.header .inner h1 { margin: 20px 0 10px 0; text-shadow: 2px 1px 2px rgba(150, 150, 150, 1); }
.header .inner h1 p {}
.header .inner textarea { width: 600px; height: 180px; /*resize: none; padding: 10px; border: 3px solid #000; width: 600px; height: 180px; text-align: left;*/ }
.header .inner .submit { padding: 10px; margin-top: 10px; cursor: pointer; background: grey; color: #fff; font-family: 'Ubuntu Condensed', sans-serif; font-size: 16px; }
.header .inner .submit:hover { background-color: #000; -webkit-transition: background-color 1000ms linear; -moz-transition: background-color 1000ms linear; -o-transition: background-color 1000ms linear; -ms-transition: background-color 1000ms linear; transition: background-color 1000ms linear;}
.header .inner .wrapper-form { float: left; }
.header .inner .options { float: left; }
.header .inner .options strong { display: block; float: left; margin-left: 10px; margin-bottom: 10px; }
.header .inner .options span { margin-left: 10px; display: block; float: left; clear: left; }
.header .inner .options input { cursor: pointer; margin-right: 5px; margin-top: 2px; }
.header .inner .options .labels { margin-left: 15px; }
.header .inner pre { margin-top: 10px; margin-bottom: 20px; }


/*CONTENT*/
.content {}
.content .inner { text-align: center; overflow: scroll; clear: both; }
.content .inner svg { }
.content .inner #paper { display: inline-block;  }

/*FOOTER*/
.footer {  }
.footer .inner {}