<html>
<head>
	<title>Time Space Diagrams</title>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../models/SpaceTimeElement.js"></script>
	<script type="text/javascript" src="../../controllers/IndexController.js"></script>
</head>
<body>
	<div class="header">
		<div class="inner">
			<h1>Time Space Diagrams</h1>
			<p>Enter with data and click in "Draw!" button to draw time space diagram.</p>
			<form action="#">
				<textarea id="input-data">
(B 10) [->] (C 20) : request
(C 25) [->] (B 30) : response
(C 25) [->] (B 30) : response
(C 25) [->] (B 30) : response
				</textarea>
				<br />
				<input type="submit" class="submit" value="Draw!" id="draw" />
			</form>
		</div>
	</div>
	<div class="content">
		<div class="inner"></div>
	</div>
	<div class="footer">
		<div class="inner">
			
		</div>
	</div>
</body>
</html>